*~
*
!/**/
!*.*
!Makefile

# временные файлы, которые могут быть созданы, если процесс всё ещё имеет открытый дескриптор удаленного файла
.fuse_hidden*

# настройки директории KDE
.directory

# системная корзина Linux, которая может появиться на любом разделе или диске
.Trash-*

# файлы .nfs, создаваемые при удалении открытого файла
.nfs*

# исключаем директорию out/ с её содержимым
out/
test/testfile